.cover img{
    max-height: 700px;
    object-fit: cover;
    filter: opacity(70%);
}

.marcas{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: black

}

.marcas img{
    max-width: 100px;
}

.container img{
    max-height: 197px;
    object-fit: cover;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active img{
    height: 820px;
    width: 300px;
    overflow: hidden;
    object-fit: cover;
}

footer {
    height: 200px;
}

footer i{
    font-size: 120px;
    color: wheat;

}

@media(max-width: 768px){
    .displayoff{
        display: none;
    }
}